
body {
  background-color: aquamarine;
  font-family: Vampiro One;
  font-size: medium;
  color:midnightblue;
  /* font-style: oblique; */
  border: medium solid rgb(229, 130, 163); padding: 10px; margin: 15px;
  /* text-align: center; */



}

